---
import Navigation from '../components/Navigation.astro';
import '../styles/global.css';

const pageTitle = 'About Me - Extended Astronaut';
const skills = ["HTML", "CSS", "JavaScript", "React", "Astro", "Writing Docs"];

const skillColor = '#4b5320';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
    <style define:vars={{skillColor}}>
      h1 {
        color: purple;
        font-size: 4rem;
      }
      .skill {
        color: var(--skillColor);
        font-weight: bold;
      }
    </style>
	</head>
	<body>
		<h1>{pageTitle}</h1>
    <p>This site was written as a starter helper for launch-up on using Astro.</p>
    <p>About me? no need. Just follow the Astro official docs to know more about Astro. I'm just an insignificant being for your time right now.</p>

    <!-- <ul>
			<li><a href="/">Home</a></li>
			<li><a href="/about">About</a></li>
			<li><a href="/blog">Blogs</a></li>
		</ul> -->
    <Navigation />
	</body>

  <p>My skills are:</p>
  <ul>
    {skills.map((skill) => <li class="skill">{skill}</li>)}
  </ul>
</html>
