---
import BaseLayout from "../layouts/BaseLayout.astro"
import BlogPost from "../components/BlogPost.astro";

const allPosts = Object.values(import.meta.glob('./posts/*.md', { eager: true }));
const pageTitle = 'Astroboard';
---

<BaseLayout pageTitle={pageTitle}>
	<p>Find the latest news on our Astronout's journey</p>

	<ul>
		<!-- <li><a href="/posts/posts-1.md">The Pilot</a></li>
		<li><a href="/posts/posts-2.md">The Co-pilot</a></li>
		<li><a href="/posts/posts-3.md">The Shortcomings</a></li> -->
		<!-- { allPosts.map((post: any) => <li><a href={post.url}>{post.frontmatter.title}</a></li>) } -->
		{ allPosts.map((post: any) => <BlogPost url={post.url} title={post.frontmatter.title} />) }
	</ul>
</BaseLayout>
